.parent-box{
    position: relative;
    background-color: #ebdeeaa1;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
}
 .side-child{
    background-color: #853691;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.side-contentchild .topbox{
    position: absolute;
    width: 70%;
    text-align: center;
    top: 6%;

}

.logoimg{
    width: 60px;
    border-radius: 10px;
}

.headingrow{
    margin-top: 15px;
}

.head-log{
    font-size: 28px;
}

.centerbox{
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    width: 70%;
}

.fields{
    margin-bottom: 30px;
}

label{
    // margin-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Josefin Sans", serif;
}

input{
    margin-left: 30px !important;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid brown !important;
    padding: 5px;
    background-color: transparent;
}

select{
    margin-left: 23px; 
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid brown !important;
    padding: 5px;
    background-color: transparent;
    // color: grey;
}

.lab-3{
    // position: absolute;
    margin-left: 45px !important;
}

input::placeholder{
    font-size: 15px;
}

.btns{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.low-btn{
    padding: 8px 25px;
    border-radius: 33px;
}

.linebrk{
    width: 75%;
    height: 1px;
    background-color: grey;
    margin-top: 5%;
    opacity: 0.9;
    margin-left: 20px;
    

}

.p-con{
    margin-top: 10px;
    margin-left: 20px;
    text-transform: capitalize;
    color: gray;
}

.side-btn{
    margin-top: 170px;
    text-align-last: right;
    
}


.side-log{
    margin-bottom: 10px;
    padding: 8px 20px;
    border: none;
    font-family: "Kanit", serif;
    width: 160px;
    border-radius: 20px 0px 0px 20px;
    // transition: 0.3s ;
    
}