<div class="child">
    <div class="inner-child">
        <h4>total Staff</h4>
    </div>

    <div class="output">
        <h6>Username</h6>
        <p>{{empObj.username}}</p>

        <h6>Name</h6>
        <p>{{empObj.name}}</p>

        <h6>Designation</h6>
        <p>{{empObj.designation}}</p>

        <h6>Contact</h6>
        <p>{{empObj.contact}}</p>

    </div>

    <div class="child-table">

        <table>
            <thead>
                <tr>
                    <th>name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>